@import 'bidding';
@import 'cards';
@import 'markers';
@import 'played-card';
@import 'player';
@import 'scoreboard';
@import 'table';
@import 'trump';

.start-button {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}