.lobby {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.modal-open {
  filter: blur(5px);
}

.tables {
  select, button {
    display: block;
    margin: 0 auto;
    width: 20em;
  }
}

.create-table {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.create-table-form {
  background-color: #fff;
  left: 50%;
  height: 10em;
  position: fixed;
  text-align: left;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  
  div {
    margin: 1em;
  }

  button {
    bottom: 1em;
    left: 1em;
    position: absolute;
  }
}

.create-table-modal-back {
  background-color: #000;
  height: 100%;
  opacity: 0.2;
  position: fixed;
  width: 100%;
}