.player {
    position: absolute;

    .active {
        right: 0;
        top: 0;
    }

    .dealer {
        left: 0;
        top: 0;
    }
}

.player-0 {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.player-1 {
    top: 50%;
    transform: rotate(-90deg) translate(-50%, 0);
    transform-origin: 0% 0%;
}

.player-2 {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.player-3 {
    right: 0;
    top: 50%;
    transform: rotate(90deg) translate(50%, 0);
    transform-origin: 100% 0%;
}

.player-id {
    color: #fff;
    text-align: center;
}