.scoreboard {
  border: 1px solid #eee;
  border-collapse: collapse;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
  left: 50%;
  position: absolute;
  table-layout: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 2em);
  z-index: 10;

  th {
    background-color: #00cccc;
    color: #fff;
    width: 100%;
    word-wrap: break-word;
  }

  td {
    background-color: #fff;
    color: #999;
  }

  th, td {
    border: 1px solid #eee;
    padding: 0.5em;
    border-collapse: collapse;

    &:first-child {
      width: 6em;
    }
  }

  .scoreboard-total {
    th, td {
      color: #000;
    }
  }
}