@import 'bidding';
@import 'cards';
@import 'markers';
@import 'played-card';
@import 'player';
@import 'scoreboard';
@import 'table';
@import 'trump';

$felt-green: #076324;

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.app {
    background-color: $felt-green;
    height: 100%;
    width: 100%;
}

.start-button {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}