$felt-green: #076324;

@import 'lobby/style';
@import 'table/style';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.app {
  background-color: $felt-green;
  height: 100%;
  width: 100%;
}

.enter-password {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
