@import 'player';

$felt-green: #076324;

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: $felt-green;
    height: 100%;
    margin: 0;
}

.table {
    border: dashed 1px;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}